- model_class = Post
.page-header
  %h1=t model_class.model_name.human.pluralize

#wrapper
  #columns
    #posts
      - @posts.each do |post|
        - post.attachments.each do |attachment|
          = render 'posts/pin', attachment: attachment

-# .thumbnails
-#   - @posts.each do |post|
-#     -post.attachments.each do |attachment|
-#       -# .thumbnail
-#       = link_to image_tag(attachment.file.thumb.url, class: 'img-circle'), attachment.file.url
-#
